.result-container {
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.result-container__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    margin-top:30px;
}

.btn.btn-primary {
    margin:0;
    width: 200px;
}

.btn.btn-warning {
    margin:0;
    width: 200px;
}